/*
@ivanqw
*/
body{
	margin:0;
	padding:0;
}
a, a:hover, a:active{
	text-decoration:none;
	color:inherit;
}
header{
	padding:0 15px;
	display:flex;
	background: #85d4b8;
}
.container{
	width:100%;	
}

.img-fluid{
	max-width:100%;
	height:auto;
}
section{
	padding:0 15px;
	background: rgb(109,204,170);
}
nav{
	display:flex;
}
nav a{
padding:10px 15px;
}